@import'../utils/variables.scss';
.soluciones{
    background: url('../images/pic01hw04.jpg'), rgba(47, 48, 58, 0.4);
    padding: 200px 0px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &__titulo{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: map-get($colores,'blanco' );
    margin-bottom: 30px;
    text-align: center;
    }
}
.btn-servicio{
    font-weight: 700;
    font-size: 16px;
    background-color: map-get($colores,'azulclaro' );
    color: map-get($colores,'blanco' );
    border-style: none;
    padding: 10px 2px;
    height: 50px;
    width: 200px;
    line-height: 1.88;
    font-family: map-get($fuentes,'roboto' );
    border-radius: 4px;
    cursor: pointer;
    &:hover,&:focus{
        color: map-get($colores,'azulclaro' );
        background-color: map-get($colores,'blanco' );
    }
}
.caracteristicas{
    width: 75%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 78px 0px 80px 0px;
    &__seccion{
    width: 270px;
    margin-top: 15px;
    &--margen1{
        width: 270px;
        margin-top: 15px;
    }
    }
    &__icono{
    background-color: map-get($colores,'grisicono' );
    display: flex;
    justify-content: center;
    padding: 25px 0px;
    }
    &__titulo{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    padding: 30px 0px 10px 0px;
    }
    &__info{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: map-get($colores,'textoclaro' );
    }
}
.equipo{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: map-get($colores,'grisicono' );
    padding: 94px 0px;
    &__titulo{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        padding-bottom: 50px;
    }
    &__datos{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__imagenes{
        background-color: map-get($colores,'blanco' );
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        margin-top: 15px;
    }
    &__descripcion{
        padding: 30px 0px;
    }
    &__integrante{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.17;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 10px;
    }
    &__posicion{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.17;
        text-align: center;
        color: map-get($colores,'textoclaro' );
    }
    &__iconos{
        display: flex;
        justify-content: space-around;
        padding-top: 16px;
    }
    &__link{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px; 
        fill: map-get($colores, 'grisredsocial');
        &:hover{
        fill: map-get($colores,'blanco' );
        cursor: pointer;
        background-color: map-get($colores,'azulclaro' );
        border-radius: 50%;
        }
    }
}
.clientes{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    &__titulo{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        padding-bottom: 50px;
    }
    &__logos{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__iconos{
        width: 170px;
        height: 92px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid map-get($colores,'grisredsocial' );
        fill: map-get($colores,'grisredsocial' );
        margin-top: 15px;
        &:hover{
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 4px;
            width: 170px;
            height: 92px;
            fill: map-get($colores,'azulclaro' );
            border: 1px solid map-get($colores, 'azulclaro');
        }
    }

}

.modal{
    &__cerrar{
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__backdrop{
        &.is-hidden{
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
            transform: scale(0);
        }
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        visibility: visible;
        opacity: 1;
        height: 100%;
        position: fixed;
        transform: scale(1);
        top: 0px;
        left: 0px;
        background: rgba(0, 0, 0, 0.2);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
         transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__ventana{
        width: 528px;
        background-color: map-get($colores,'blanco' );
        border-radius: 4px;
    }
    &__contenido{
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        padding: 17px 40px 40px 40px;
    }
    &__titulo{
        font-weight: 700;
        font-size: 20px;
        line-height: 1.17;
        margin-bottom: 12px;
        text-align: center;
    }
    &__formulario{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    &__nombre{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.17;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        padding-bottom: 10px;
        &:focus-within{
            fill: map-get($colores,'azulclaro' );
        }
    }
    &__telefono{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.17;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        padding-bottom: 10px;
        &:focus-within {
            fill: map-get($colores,'azulclaro' );
        }
    }    
    &__email{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.17;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        padding-bottom: 10px;
        &:focus-within {
            fill: map-get($colores,'azulclaro' );
        }
    }
    &__etiqueta{
        font-family: map-get($fuentes,'roboto' );
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        color: map-get($colores,'textoclaro' );
        margin-bottom: 4px;
    }
    &__entrada{
        width: 448px;
        height: 40px;
        font-size: 16px;
        border-radius: 4px;
        position: relative;
        cursor: pointer;
        outline: none;
        border: 1px solid #21212133;
        z-index: 1;
        background-color: #00000000;
        padding-left: 42px;
        &:focus{
            border-radius: 4px;
            border: 1px solid map-get($colores,'azulclaro' );
        }
    }
    &__areatexto{
        width: 448px;
        height: 120px;
        border-radius: 4px;
        cursor: pointer;
        outline: none;
        border: 1px solid #21212133;
        resize: none;
        padding: 12px 16px;
        &::placeholder{
            font-family: map-get($fuentes,'roboto' );
            font-weight: 400;
            font-size: 12px;
            line-height: 1.17;
            color: map-get($colores,'griscomentario' );
        }
        &:focus{
            border-radius: 4px;
            border: 1px solid map-get($colores,'azulclaro' );
        }
    }
    &__acuerdo{
        display: flex;
        margin-top: 20px;
    }
    &__acuerdoicono{
        padding: 4px 7px 0px 13px;
    }
    &__checar{
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -20px;
        border-radius: 2px;
        background-color: map-get($colores,'azulclaro' );
        &.oculto{
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
        }
    }
    &__nota{
        font-family: map-get($fuentes,'roboto' );
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        color: map-get($colores,'textoclaro' );
    }
}
#check:target {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
}
.btn__cerrar{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
    border: 1px solid #0000001a;
}
.btn__enviar{
    width: 200px;
    height: 50px;
    padding: 10px 75px;
    margin-top: 10px;
    font-family: map-get($fuentes,'roboto' );
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    color: map-get($colores,'blanco' );
    border-radius: 4px;
    background-color: map-get($colores,'azulclaro' );
    border: none;
}
@media screen and (min-width:1200px) and (max-width:1474px) {
    .caracteristicas,.equipo__datos{
        padding: 0 15px;
        justify-content: center;
        &__margen1{
            margin: 15px 8px 0 8px;
        }
    }
    .equipo__margen1{
        margin: 15px 15px 0 15px;
    }
}
@media screen and (min-width:966px) and (max-width:1199px) {
    .equipo{
        &__datos{
            padding: 0 15px;
            justify-content: center;
            width: 95%;
        }
        &__margen1{
            margin:15px 15px 0 15px;
        }
    }
}
@media screen and (min-width:768px) and (max-width:965px) {
    .equipo{
        &__datos{
            padding: 0 15px;
            justify-content: center;
            width: 90%;
        }
        &__margen2{
            margin: 15px 15px 0 0;
        }
    }
}
@media screen and (max-width:767px) {
    .equipo{
        &__datos{
            justify-content: center;
            width: 70%;
        }
    }
}
@media screen and (min-width:1124px) and (max-width:1199px) {
    .caracteristicas{
        justify-content: center;
        &__margen1{
            margin: 15px 8px 0 8px;
        }
        &__seccion{
            width: 350px;
        }
    }
}
@media screen and (min-width:796px) and (max-width:1123px) {
    .caracteristicas{
        width: 95%;
        justify-content: center;
        &__margen2{
            margin: 15px 8px 0 8px;
        }
        &__seccion{
            width: 350px;
        }
    }
}
@media screen and (min-width:480px) and (max-width:795px){
    .caracteristicas{
        justify-content: center;
        &__seccion{
            width: 450px;
        }
    }    
}
@media screen and (max-width:479px) {
    .caracteristicas{
        justify-content: center;
    &__seccion{
        width: 315px;
        }
    }
    .quehacemos {
        &__imagenes {
            justify-content: center;
            }
        &__imagen,&__foto {
            width: 315px;
        }
    }
}
@media screen and (min-width:856px) and (max-width:1509px) {
    .quehacemos{
        &__imagenes{
            justify-content: center;
            width: 95%;
        }
        &__margen1{
            margin: 15px 30px 0 0;
        }
    }
}
@media screen and (min-width:480px) and (max-width:855px) {
    .quehacemos{
        &__imagenes{
            flex-direction: column;
            align-items: center;
        }
    }
}
@media screen and (max-width:350px) {
    .quehacemos{
        &__titulo{
            text-align: center;
        }
    }
}
@media screen and (max-width:339px) {
    .clientes{
        &__logos{
            justify-content: center;
        }
    }
}
@media screen and (min-width:480px) and (max-width:540px) {
    .modal{
        &__ventana{
            width: 450px;
        }
        &__entrada,&__areatexto{
            width: 370px;
        }
    }
}
@media screen and (max-width:479px) {
    .modal{
        &__contenido{
            padding: 17px 10px 10px 10px;
        }
        &__ventana{
            width: 315px;
        }
        &__entrada,&__areatexto{
            width: 100%;
        }
    }
}
