.problemas{
    background: url('../images/unemployed.svg'), linear-gradient(black,white);
    background-repeat: no-repeat;
    size: 10px;
    width: 100%;
    &__descripcion{
        text-align: center;
        color: white;
    }
    &__grid{
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
        padding: 10px;
        &item{
            text-align: center;
        }
    }
    &__titulo{
        text-align: center;
        color: white;
    }
}