.problemas{
    background-image: url(../images/unemployed.svg),linear-gradient(black, white);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    width: 75%;
    min-width: 320px;
    &__descripcion{
        display: flex;
        justify-content: center;
        &link{
            font-weight: 700;
            font-size: 24px;
            line-height: 1.17;
            color: #fff;
            text-decoration: none;
            &::after{
                display: flex;
                content: "";
                border: 2px solid #fff;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
}
            &:focus,&:hover{
                color: #2196F3;
                &::after{
                    border: 2px solid #2196F3;
                }
            }
        }
    }
    &__grid{
        display: grid;
        justify-items: center;
        grid-template-columns: auto auto;
        gap: 20px;
        padding: 20px;
        &item{
            padding: 10px;
            text-align: center;
            width: 320px;
            background-color: #ffffff4d;
            border: 2px solid #303030;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }
        &titulo{
            margin-bottom: 10px;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.17;
            font-family: 'Roboto',sans-serif;
            &::before{
                counter-increment: pgt;
                content:counter(pgt)".-";
            }
        }
    }
    &__titulo{
        text-align: center;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        margin: 20px 0;
    }
    &__contenido{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.17;
        font-family: 'Roboto', sans-serif;
        color: #242424;
    }
    border-bottom: 1px solid #ececec;
}
@media screen and (min-width:768px) and (max-width:1365px) {
    .problemas{
        width: 100%;
        &__grid{
            gap: 10px;
            padding: 10px;
        &item{
            padding: 0;
            width: 320px;
        }
        }
    }    
}
@media screen and (min-width:480px) and (max-width:767px) {
    .problemas{
        &__grid{
            grid-template-columns: auto;
            &item{
                padding: 0;
                width: 320px;
            }
        }
    }
}
@media screen and (min-width:0px) and (max-width:479px){
    .problemas{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 320px;
        &__grid{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 320px;
        }
    }
}