.wedo{
    width: 75%;
    &__encabezado{
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        font-family: 'Roboto', sans-serif;
    }
    &__titulo{
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        &::after{
            display: flex;
            content: "";
            border: 2px solid #2196f3;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
}
    }
    &__grid{
        display: grid;
        justify-items: center;
        grid-template-columns: auto auto auto;
        gap: 10px;
        padding:10px;
        &item{
            text-align: center;
        }
    }
}