.wedo{
    background-color: none;
    width: 100%;
    &__encabezado{
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        font-family: 'Roboto', sans-serif;
    }
    &__titulo{
        color: red;
        &::after{
            display: flex;
            content: "";
            border: 1px solid greenyellow;
            border-radius: 1px;
            -webkit-border-radius: 1px;
            -moz-border-radius: 1px;
            -ms-border-radius: 1px;
            -o-border-radius: 1px;
}
    }
    &__grid{
        display: grid;
        justify-items: center;
        grid-template-columns: auto auto auto;
        gap: 10px;
        padding:10px;
        &item{
            text-align: center;
        }
    }
}